main a, a:hover {
  color: #82B440;
  background: transparent;
}

main {
 line-height: 1.6;
}

main h1, main h2, main h3, main h4, main h5 {
  color: #82B440;
}

main ul {
  padding-left: 15px;
  line-height: 2;
}

main .about {
  font-size: larger;
  padding: 20px 0 40px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #82B440;
  text-align: center;
}

main .subtitle {
  text-align: center;
  color: #3c3c3c;
  margin: 70px 0px 60px;
}

/* TODO: move these into separate component? */

main .pbmovie {
  height: 230px;
}

main .pbmovie iframe {
  border: 1px solid #82B440
}

main p.credit {
  font-size: small;
}

/********************************************/

.invert {
  background: #82B440;
  color: #fff;
}

.invert img.bordered {
  border: 2px solid #fff;
}

p.translation, main span.translation {
  font-size: small;
  display: block;
  padding: 10px 0 5px
}
