{#
/**
 * @file
 * Default theme page template.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper">
  <div id="page">
    <header class="header">
      {{ page.header }}
    </header>
    <div id="main-wrapper" class="clearfix">
      <div id="main" class="layout-main clearfix">
        <main id="content" role="main">
          <section class="section">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </section>
        </main>
      </div>
    </div>
    <footer class="footer">
      {{ page.footer }}
    </footer>
  </div>
</div>
