.footer {
  background: #1e1e1e;
  color: #fff;
  font-size: small;

  padding-top: 30px;
  padding-bottom: 30px;
  margin: 60px 0 0;
}

.footer a, a:hover {
  color: #82B440;
  background: transparent;
}

.footer h1, .footer h2, .footer h3, .footer h4, .footer h5 {
  color: #999;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer .branding {
  text-align: center;
}

.footer img.logo {
  width: 216px;
  height: 24px;
}
