.banner {
  background: #82B440 url(../../img/banner.png) repeat-x 50% 50%;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.banner .title {
  font-size: 3.75em;
  letter-spacing: -1px;

  margin: 0px;
  padding-bottom: 40px;
}
