.webform-details-toggle .form-checkboxes .form-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.webform-details-toggle label.form-required:after {
  content: " *";
  color: red;
}

.fieldset-wrapper .field-prefix .description {
  font-style: italic;
  color: #82B440;
  font-size: large;
}
