{#
/**
 * @file
 * Header region for District Voting Page.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
<div class="container-fluid invert">
  <div class="row">
    {{ content }}
  </div>
</div>
